/*
   Z Variables
   -----------------------------------------------------------------------------
   Might not actually need any of these yet
*/

$z--notifications: 9999;
$z--right-click-layer: 9995;
$z--overlays: 9990;
$z--drag-n-drop: 5000;
$z--draggable-resizer-mask: 9980;

/*
   Page Layout
   -----------------------------------------------------------------------------
   NavMenu + Page components
*/

$nav-menu--size: 50px;
$nav-menu--gutter: 16px;
$nav-menu--bg: $c-pool;
$nav-menu--bg-accent: $c-comet;
$nav-menu--breakpoint: 800px;

$page--header-size: 66px;
$page--gutter: 54px;
$page--max-width: 1608px;
$page--title-size: 21px;
$page--title-weight: 400;
$page--gradient-start: $g2-kevlar;
$page--gradient-stop: $g0-obsidian;

/*
   Motifs
   -----------------------------------------------------------------------------
   Goal is to re-use these variables as much as possible to ensure powerful
   control over the UI kit proportions
*/

$cf-marg-a: 4px;
$cf-marg-b: 8px;
$cf-marg-c: 16px;
$cf-marg-d: 32px;
$cf-marg-e: 64px;
$cf-marg-f: 128px;

$cf-border: 2px;
$cf-radius: 4px;
$cf-radius-sm: $cf-radius - 1px;

/*
   Typography
   -----------------------------------------------------------------------------
*/

$cf-text-tiny: 11px;
$cf-text-base: 12px;
$cf-text-scale: 1.19;
$cf-text-base-1: (ceil($cf-text-base * $cf-text-scale));
$cf-text-base-2: (ceil($cf-text-base * $cf-text-scale * $cf-text-scale));
$cf-text-base-3: (
  ceil($cf-text-base * $cf-text-scale * $cf-text-scale * $cf-text-scale)
);
$cf-text-base-4: (
  ceil(
    $cf-text-base * $cf-text-scale * $cf-text-scale * $cf-text-scale *
      $cf-text-scale
  )
);
$cf-text-base-5: (
  ceil(
    $cf-text-base * $cf-text-scale * $cf-text-scale * $cf-text-scale *
      $cf-text-scale * $cf-text-scale
  )
);

$cf-text-default: $g13-mist;
$cf-link-default: $c-pool;
$cf-link-default-hover: $c-laser;
$cf-link-success: $c-rainforest;
$cf-link-success-hover: $c-honeydew;
$cf-link-warning: $c-pineapple;
$cf-link-warning-hover: $c-thunder;
$cf-text-secondary: $c-star;
$cf-text-secondary-hover: $c-comet;
$cf-link-danger: $c-curacao;
$cf-link-danger-hover: $c-dreamsicle;

$cf-text-selection-bg: $c-pool;
$cf-text-selection-color: $g20-white;

/*
   Form Element Sizing
   -----------------------------------------------------------------------------
   These ensure consistent sizing across ]elements such as Buttons, Radio,
   Dropdown, Input, etc.
*/

$form-xs-height: 22px;
$form-xs-padding: 6px;
$form-xs-font: 11px;

$form-sm-height: 30px;
$form-sm-padding: 9px;
$form-sm-font: 12px;

$form-md-height: 38px;
$form-md-padding: 12px;
$form-md-font: 13px;

$form-lg-height: 46px;
$form-lg-padding: 15px;
$form-lg-font: 17px;

/*
   Empty State
   -----------------------------------------------------------------------------
*/

$empty-state-text: $g9-mountain;
$empty-state-highlight: $g13-mist;
