
/*
  pagination
  ------------------------------------------------------------------------------
*/

.cf-pagination,
.cf-pagination--container {
  width: 100%;
  display: flex;
  padding: 0;
}

.cf-pagination--item--container {
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}

// Active State
.cf-pagination--item--container__active {
  position: relative;
  &:after {
    content: '';
    background-color: #383846;
    z-index: 1;
    width: 100%;
    position: absolute;
    height: 3px;
    left: 0;
    bottom: 0;
  }
}
