@import '../../../style/variables.scss';

/*
  pagination
  ------------------------------------------------------------------------------
*/

.cf-pagination,
.cf-pagination-input--container,
.cf-pagination--container {
  display: flex;
  align-items: center;
  padding: 0;
  flex-wrap: wrap;
}

.cf-pagination--item--container {
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}

// Active State
.cf-pagination--item--container__active {
  position: relative;
  &:after {
    content: '';
    background-color: $cf-pagination--border-color;
    z-index: 1;
    width: 100%;
    position: absolute;
    height: floor($cf-form-md-height * 0.1);
    left: 0;
    bottom: 0;
  }
}

.cf-pagination-input--item {
  margin: 0 16px;
  color: $cf-grey-65;
  font-weight: $cf-font-weight--medium;
}
