
$g3-castle: #292933;
$g4-onyx: #31313d;
$g6-smoke: #434453;
$g11-sidewalk: #999dab;
$g15-platinum: #d4d7dd;
$g17-whisper: #eeeff2;

$cf-font-weight--medium: 500;
$cf-font-weight--bold: 700;

$cf-border: 2px;

$cf-form-sm-font: 13px;

$table-border--primary: $g6-smoke;
$table-border--secondary: $g4-onyx;
$table-row-background: $g3-castle;

/*
  Table
  ------------------------------------------------------------------------------
*/

.cf-table {
  border-collapse: collapse;
}

.cf-table--cell {
  color: $g11-sidewalk;
  transition: background-color 0.25s ease, color 0.25s ease;
  font-weight: $cf-font-weight--medium;  
}

.cf-table--header-cell {
  color: $g15-platinum;
  font-weight: $cf-font-weight--bold;  
}

.cf-table--row {
  transition: background-color 0.25s ease;
}

/*
  Borders Styling
  ------------------------------------------------------------------------------
*/

.cf-table__borders-none {
  .cf-table--cell,
  .cf-table--header-cell {
    border: 0;
  }
}

.cf-table__borders-all {
  .cf-table--cell,
  .cf-table--header-cell {
    border: $cf-border solid $table-border--primary;
  }
}

.cf-table__borders-horizontal {
  .cf-table--cell,
  .cf-table--header-cell {
    border-top: $cf-border solid $table-border--secondary;
    border-bottom: $cf-border solid $table-border--secondary;
  }

  .cf-table--header:first-child .cf-table--row:first-child .cf-table--header-cell {
    border-top: 0;
  }

  .cf-table--body:last-child .cf-table--row:last-child .cf-table--cell {
    border-bottom: 0;
  }
}

.cf-table__borders-vertical {
  .cf-table--cell,
  .cf-table--header-cell {
    border-left: $cf-border solid $table-border--secondary;
    border-right: $cf-border solid $table-border--secondary;
  }

  .cf-table--header .cf-table--row .cf-table--header-cell:first-child,
  .cf-table--header .cf-table--row .cf-table--cell:first-child,
  .cf-table--body .cf-table--row .cf-table--header-cell:first-child,
  .cf-table--body .cf-table--row .cf-table--cell:first-child {
    border-left: 0;
  }

  .cf-table--header .cf-table--row .cf-table--header-cell:last-child,
  .cf-table--header .cf-table--row .cf-table--cell:last-child,
  .cf-table--body .cf-table--row .cf-table--header-cell:last-child,
  .cf-table--body .cf-table--row .cf-table--cell:last-child {
    border-right: 0;
  }
}

.cf-table__borders-both {
  .cf-table--cell,
  .cf-table--header-cell {
    border: $cf-border solid $table-border--secondary;
  }

  .cf-table--header:first-child .cf-table--row:first-child .cf-table--header-cell {
    border-top: 0;
  }

  .cf-table--body:last-child .cf-table--row:last-child .cf-table--cell {
    border-bottom: 0;
  }

  .cf-table--header .cf-table--row .cf-table--header-cell:first-child,
  .cf-table--header .cf-table--row .cf-table--cell:first-child,
  .cf-table--body .cf-table--row .cf-table--header-cell:first-child,
  .cf-table--body .cf-table--row .cf-table--cell:first-child {
    border-left: 0;
  }

  .cf-table--header .cf-table--row .cf-table--header-cell:last-child,
  .cf-table--header .cf-table--row .cf-table--cell:last-child,
  .cf-table--body .cf-table--row .cf-table--header-cell:last-child,
  .cf-table--body .cf-table--row .cf-table--cell:last-child {
    border-right: 0;
  }
}

.cf-table .cf-table__borders-none th.cf-table--header-cell,
.cf-table th.cf-table--header-cell {
  border-bottom: $cf-border solid $table-border--primary;
}

/*
  Font Size Modifiers
  ------------------------------------------------------------------------------
*/

@mixin tableFontModifier($fontSize) {
  .cf-table--cell,
  .cf-table--header-cell {
    font-size: $fontSize;
  }
}

.cf-table__font-sm {
  @include tableFontModifier($cf-form-sm-font);
}

/*
  Striped Styling
  ------------------------------------------------------------------------------
*/

.cf-table__striped .cf-table--body .cf-table--row:nth-child(odd) {
  background-color: rgba($table-row-background, 0.7);
}

/*
  Highlight Styling
  ------------------------------------------------------------------------------
*/

.cf-table__highlight .cf-table--body .cf-table--row:hover {
  background-color: $table-row-background;
}

.cf-table__highlight .cf-table--body .cf-table--row:hover .cf-table--cell {
  color: $g17-whisper;
}

/*
  Row Color Modifiers
  ------------------------------------------------------------------------------
*/

@mixin tableColorModifier($background, $backgroundAlt, $backgroundHover, $border, $text) {
  .cf-table .cf-table--body & .cf-table--cell,
  .cf-table .cf-table--body & .cf-table--header-cell,
  .cf-table .cf-table--header & .cf-table--cell,
  .cf-table .cf-table--header & .cf-table--header-cell {
    background-color: $background;
    border-color: $border;
    color: rgba($text, 0.8);
  }

  .cf-table__striped .cf-table--body &:nth-child(odd) .cf-table--cell,
  .cf-table__striped .cf-table--body &:nth-child(odd) .cf-table--header-cell {
    background-color: $backgroundAlt;
  }

  .cf-table__highlight .cf-table--body &:hover .cf-table--cell,
  .cf-table__highlight .cf-table--body &:hover .cf-table--header-cell {
    background-color: $backgroundHover;
    color: $text;
  }
}
