.raw-flux-data-table--cell {
  border: 2px solid #202028;
  box-sizing: border-box;
}

.raw-flux-data-table--cell {
  font-family: 'IBMPlexMono', monospace;
  font-size: 12px;
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;

  .raw-flux-data-table--cell-bg {
    background: #0f0e15;
    box-sizing: border-box;
    border: 2px solid #0f0e15;
    border-radius: 2px;
    position: absolute;
    padding: 5px;
    min-height: 100%;
    min-width: 100%;
    width: calc(100% - 10px);
    cursor: text;
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: text;
    white-space: nowrap;
  }

  &:hover {
    z-index: 2;

    .raw-flux-data-table--cell-bg {
      background: #383846;
      border: 2px solid #00a3ff;
      width: auto;
    }
  }
}
