@import '../../style/variables.scss';

.visualization--simple-table {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  font-family: $cf-code-font;
  user-select: text;

  .cf-dapper-scrollbars {
    border-bottom: $cf-border solid $cf-grey-5;
  }

  .cf-dapper-scrollbars--track-x {
    background-color: rgba($cf-grey-15, 0.5) !important;
  }

  .cf-table {
    border: $cf-border solid $cf-grey-25;
    margin-bottom: 10px;
    width: 100%;
  }

  .cf-table--header-cell,
  .cf-table--cell {
    padding: 4px 10px;
    white-space: nowrap;
  }

  .cf-table--header-cell label {
    display: block;
    font-size: 10px;
    color: $cf-grey-45;
    font-weight: 500;

    &:first-of-type {
      padding-top: 2px;
    }
  }
}

.visualization--simple-table--results {
  flex: 1 0 0;
  position: relative;
  margin-top: 8px;
}

.visualization--simple-table--paging {
  display: flex;
  align-items: center;
  height: 48px;
  margin: 0 auto;
}

.visualization--simple-table--paging-label {
  display: inline-block;
  margin-right: $cf-space-2xs;
  color: $cf-grey-75;
  font-weight: $cf-font-weight--medium;
  width: 189px;
}
